
<h1>Doctor Appointments</h1>

<table>
    <thead>
      <tr>
        <th>Patient Name</th>
        <th>Date of Birth</th>
        <th>Appointment Date</th>
        <th>Type</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Doctor</th>
      </tr>
    </thead>
    <tbody>
      <!-- Open the context menu on right-click by using (contextmenu) instead of (click) -->
      <tr appAppHighlight [index]="i"  *ngFor="let appointment of appointments; let i = index" (click)="onRowClick($event, appointment)">
        <td>{{ appointment.patientName }}</td>
        <td>{{ appointment.patientDob }}</td>
        <td>{{ appointment.appointmentDate }}</td>
        <td>{{ appointment.appointmentType }}</td>
        <td>{{ appointment.startTime }}</td>
        <td>{{ appointment.endTime }}</td>
        <td>{{ appointment.doctorName }}</td>
      </tr>
    </tbody>
  </table>
  
  <app-context-menu
    [menuItems]="contextMenuItems"
    [appointment]="selectedAppointment"
    (menuItemSelected)="onMenuItemSelected($event)"
    [position]="contextMenuPosition"
  ></app-context-menu>
